<launch>
  <!-- Launch file for velodyne LiDAR -->

    <arg name="rviz" default="true" />

    <!-- Image conversion -->
    <node pkg="image_transport" type="republish" name="image_republish" args="compressed in:=/camera/color/image_raw raw out:=/camera/color/image_raw" output="screen" respawn="true"/>

    <rosparam command="load" file="$(find gril_calib)/config/m2dgr/velodyne_m2dgr_hall04.yaml" />

    <node pkg="gril_calib" type="gril_calib" name="laserMapping" output="screen"/>

    <param name="point_filter_num" type="int" value="3"/>
    <param name="max_iteration" type="int" value="3" />
    <param name="cube_side_length" type="double" value="1000" />

    <group if="$(arg rviz)">
    <node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz" args="-d $(find gril_calib)/rviz_cfg/m2dgr.rviz" />
    </group>
   launch-prefix="gdb -ex run --args" 

</launch>
